$c-def-dark-grey: #0F0F0F;
$c-def-white: rgb(255, 255, 255);
$c-def-grey: #161616;
$c-def-light-grey: #7C7C7C;

$fz-l: 52px;
$fz-md-x: 24px;
$fz-md: 18px;
$fz-sm: 16px;
$fz-tiny: 14px;

$br-md: 10px;
$br-left: 10px 0 0 10px;

#flex-column {
  display: flex;
  flex-direction: column;
}

#flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dark-block {
  background: $c-def-dark-grey;
  border-radius: $br-md;
}

body {
  color: $c-def-white;
  background: $c-def-grey;
  font-size: $fz-sm;
  font-family: "Montserrat", sans-serif;
  max-width: 1920px;
  margin-inline: auto;
  position: relative;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: $c-def-light-grey;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: $br-md;
  }
}

* {
  transition: .2s;
}

h1, h2 {
  letter-spacing: 3px;
  font-size: $fz-l;
  line-height: 42px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: $fz-tiny;
}

p {
  letter-spacing: 1px;
  font-size: $fz-sm;
  font-weight: 400;
  line-height: 24px;
}

.expandable-block {
  overflow: hidden;
}

.expandable-content {
  max-height: 0;
  overflow: hidden;
  transition: .3s;
}

.expandable-content.show {
  max-height: 500px; /* Adjust as needed */
}

.aside {
  @extend #flex-column;
  gap: 50px;
  width: fit-content;
  background: $c-def-dark-grey;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;

  .active {
    background: $c-def-grey;
    border-radius: $br-left;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: $c-def-light-grey;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: $br-md;
  }

  &Heading {
    padding: 50px 50px 0 50px;
    text-align: center;
    cursor: pointer;

    h1 {
      font-weight: 700;
      font-size: 52px;
    }

    a {
      text-decoration: none;
      color: $c-def-white;
      display: block;

    }

    p {
      margin-top: 10px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  &Nav {
    @extend #flex-column;
    gap: 50px;
    padding-left: 50px;

    .navIcon {
      position: absolute;
      left: 4%;
      top: 50%;
      transform: translateY(-45%);

      img {
        width: 24px;
        height: 24px;
      }
    }

    h3 {
      margin-bottom: 20px;
      font-weight: 500;
    }

    &List {
      @extend #flex-column;
      gap: 22px;
      font-weight: 600;

      li {
        cursor: pointer;
        padding: 13px 50px 10px 50px;
        border-radius: $br-left;
        transition: .2s;
        font-size: $fz-md;
        position: relative;
        user-select: none;

        &:hover {
          background: $c-def-grey;
          border-radius: $br-left;
        }
      }
    }

    .soon {
      position: relative;
      height: 100%;

      &::after {
        content: 'Скоро';
        position: absolute;
        right: -70px;
        font-size: $fz-md;
        color: $c-def-light-grey;

      }
    }
  }

  &SMLinks {
    padding-left: 50px;
    display: flex;
    gap: 17px;
    padding-bottom: 50px;

    li:hover {
      transform: scale(1.1);
    }
  }
}

.siteSection {
  display: none;
  padding: 50px 40px;
  max-height: 100vh;


  &Heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-weight: 600;
      padding-left: 5px;
      margin-top: 10px;
      font-size: $fz-tiny;
    }

    .joinBtn {
      width: 450px;
      padding: 25px 0;
      border-radius: $br-md;
      border: none;
      background: linear-gradient(180deg, #AEB1B7 0%, #E1E3E4 40.5%, #ACADB0 100%);
      cursor: pointer;
      font-size: $fz-md-x;
      font-weight: 600;
      letter-spacing: 2px;

      &:hover {
        transform: scale(1.01);
      }
    }

  }

  &Body {
    padding: 30px 0;
    display: flex;
    gap: 30px;

    &Info {
      max-width: 460px;
      width: 100%;
      padding: 40px 35px;
      @extend #dark-block;
      text-align: center;

      &Heading {
        gap: 10px;
        width: 100%;
        padding-bottom: 25px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: $c-def-light-grey;
        }

        h2 {
          font-weight: 700;
        }

        p {
          font-size: 12px;
          margin-top: 5px;
        }
      }

      &Text {
        padding: 30px 10px;
        text-align: center;

        &Icons {
          ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 30px;

            li {
              @extend #flex-center;
              flex-direction: column;
              gap: 4px;
            }
          }
        }
      }
    }

    &Content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @extend #dark-block;
      padding: 60px 30px;

      .dnaImg {
        max-width: 400px;
        max-height: 400px;
      }

      &DropInfo {
        @extend #flex-column;
        gap: 20px;
        max-width: 500px;

        &Header {
          font-size: $fz-md-x;
          font-weight: 600;
          margin-bottom: 35px;
        }

        .expandable-block {
          padding: 0 20px;
          border: 1px solid $c-def-light-grey;
          border-radius: $br-md;

          .expandable-header {
            cursor: pointer;
            padding: 20px 0 15px;
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            user-select: none;

            .expandable-arrow {
              transition: .4s;
            }
          }

        }
      }
    }

    &Img {
      border-radius: $br-md;
      pointer-events: none;
      user-select: none;

      img {
        width: 100%;
        max-width: 1035px;
        max-height: 784px;
      }
    }


    &ContactTabs {
      width: 100%;

      .contactTabsList {
        display: flex;
        gap: 5px;

        .active {
          background: $c-def-dark-grey;
        }

        li {
          @extend #flex-column;
          width: 25%;
          gap: 10px;
          justify-content: center;
          align-items: center;
          border-radius: 10px 10px 0 0;
          padding: 15px 10px 20px;
          cursor: pointer;
          user-select: none;

          &:hover {
            background: $c-def-dark-grey;
          }
        }
      }

      .contactsTabsItems {
        .contactsTabItem {
          @extend #dark-block;
          display: none;
          margin-top: -15px;
          padding: 40px 50px;

          h4 {
            font-size: $fz-md-x;
            font-weight: 600;
            margin-bottom: 27px;

          }

          .contactsTabItemList {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 20px;

            li {
              display: flex;
              align-items: center;
              letter-spacing: .7px;

              p {
                width: fit-content;
              }

              .questionTooltip {
                margin-left: 10px;
                cursor: pointer;
                width: 24px;
                height: 24px;

                img {
                  width: 100%;
                  height: 100%;
                }

                //transform: translateY(1px);
              }
            }

            .listNumber {
              display: inline-block;
              width: 54px;
              height: 54px;
              text-align: center;
              padding-top: 17px;
              border-radius: $br-md;
              border: 1px solid $c-def-light-grey;
              margin-right: 20px;
            }
          }
        }



        .active {
          display: block;
        }
      }
      .contactsInfo {
        @extend #dark-block;
        margin-top: 15px;
        padding: 25px 0;
        ul {
          display: flex;
          justify-content: space-around;
          li{
            @extend #flex-column;
            align-items: center;
            gap: 5px;
          }
          a{
            text-decoration: none;
            font-weight: 600;
            color: $c-def-white;
          }
          img{
            width: 26px;
            height: 28px;
          }
        }
      }
    }
  }


}

.active {
  display: block;

}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: $c-def-light-grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}